{% load static %}
<header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="{%static 'img/elogo.png'%}" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="index.html">Ana Sayfa</a></li>
                        <li><a class="nav-link" href="about.html">Hakkımızda</a></li>
                        <li><a class="nav-link" href="services.html">Haber Başlıkları</a></li>
                        <li><a class="nav-link" href="#">Yazarlarımız</a></li>
						<li><a class="nav-link" href="contact.html">İletişim</a></li>
                        <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="#">Kayıt ol</a></li>
                    </ul>
                </div>
                <div class="search-box">
                    <label>
                        <input type="text" class="search-txt" placeholder="Search">
                    </label>
                    <a class="search-btn">
                        <img src="{%static 'images/search_icon.png'%}" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
